<div class="row">
    {{ form_start(form, {'attr': {'id': 'new'}}) }}

    <div class="col s12">
        {{ form_label(form.year) }}
        {{ form_widget(form.year) }}
        <div class="form-error">
            {{ form_errors(form.year) }}
        </div>
    </div>

    <div class="col s12">
        {{ form_label(form.brand) }}
        {{ form_widget(form.brand, {'attr': {'class': 'brand'}}) }}
        <div class="form-error">
            {{ form_errors(form.brand) }}
        </div>
    </div>

    <div class="col s12">
        {{ form_label(form.model_name) }}
        {{ form_widget(form.model_name, {'attr': {'class': 'brand-model'}}) }}
        <div class="form-error">
            {{ form_errors(form.model_name) }}
        </div>
    </div>

    <div class="col s12">
        {{ form_label(form.model) }}
        {{ form_widget(form.model, {'attr': {'class': 'model'}}) }}
        <div class="form-error">
            {{ form_errors(form.model) }}
        </div>
    </div>

    {{ form_end(form) }}
</div>