<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('plugins/materialize/css/materialize.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('app/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% include 'fleet-manager/layout/navbar.html.twig' %}
            {% block body %}{% endblock %}
        </div>

        <script src="{{  asset('plugins/jquery-3.4.1.js') }}"></script>
        <script src="{{  asset('plugins/materialize/js/materialize.js')}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
        <script src="{{  asset('app/js/base.js')}}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
