<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('bootstrap/bootstrap.min.dss') }}">
    <link rel="stylesheet" href="{{ asset('adminlte/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ asset('adminlte/_all-skins.css') }}">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    {% include 'admin/layout/top-menu.html.twig' %}

    {% include 'admin/layout/side-menu.html.twig' %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block content %}{% endblock content %}
    </div>
</div>

<script src="{{  asset('jquery-3.4.1.js') }}"></script>
<script src="{{  asset('bootstrap/bootstrap.min.js') }}"></script>
<script src="{{  asset('adminlte/adminlte.min.js') }}"></script>
{% block scripts %}{% endblock scripts %}
</body>

</html>