{% extends 'admin/layout/base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Brand models in database</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody><tr>
                            <th style="width: 10px">#</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th style="width: 100px">Number of cars</th>
                            <th>Engine</th>
                            <th>Fuel</th>
                            <th>Actions</th>
                        </tr>
                        {% for model in models %}
                            <tr>
                                <td>1.</td>
                                <td>{{ model.brand.name }}</td>
                                <td>{{ model.name }}</td>
                                <td><span class="badge bg-red">55</span></td>
                                <td>1.3</td>
                                <td>{{ model.engineType.value }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="">Update</a>
                                        <button type="submit" class="btn btn-warning" form="deactivate-{{ model.id }}">Deactivate</button>
                                        <button type="submit" class="btn btn-danger" form="delete-{{ model.id }}">Delete</button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a href="{{ path('admin_models_new') }}" class="btn btn-sm btn-info btn-flat pull-left">Add Model</a>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}